<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.csharp.solutions.validations" >

    <uses-sdk android:minSdkVersion="14" />

    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.NFC" />

    <!-- GCM permissions -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- Creates a custom permission so only this app can receive its messages. -->
    <permission
        android:name="com.csharp.solutions.validations.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <!-- This app has permission to register and receive data message. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

        <application
            android:name="util.GlobalClass"
            android:allowBackup="true"
            android:icon="@drawable/app_logo"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
            >
            <activity
                android:name=".RegistrationStep1"
                android:imeOptions="actionDone|flagNoExtractUi"
                android:label="@string/app_name"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustUnspecified"
                android:theme="@style/AppTheme"
                >
                <intent-filter>
                    <action android:name="android.intent.action.MAIN" />

                    <category android:name="android.intent.category.LAUNCHER" />
                </intent-filter>
            </activity>



            <activity
                android:name=".RegistrationStep2"
                android:imeOptions="actionDone|flagNoExtractUi"
                android:label="@string/registration_step2_title_textview"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustUnspecified"
                android:theme="@style/AppTheme">
            </activity>
            <activity
                android:name=".UpdateScreen"
                android:imeOptions="actionDone|flagNoExtractUi"
                android:label="@string/user_info_title"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustUnspecified"
                android:theme="@style/AppTheme">
            </activity>
            <activity
                android:name=".ValidateScreen"
                android:configChanges="orientation|screenSize"
                android:imeOptions="actionDone|flagNoExtractUi"
                android:label="@string/app_name"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme" />

            <receiver
                android:name="com.google.android.gcm.GCMBroadcastReceiver"
                android:permission="com.google.android.c2dm.permission.SEND" >
                <intent-filter>

                    <!-- Receives the actual messages. -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <!-- Receives the registration id. -->
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.csharp.solutions" />
            </intent-filter>
        </receiver>

        <service android:name=".GCMIntentService" />



        <service
            android:name="nfc.ValidateHostApduService"
            android:exported="true"
            android:permission="android.permission.BIND_NFC_SERVICE" >
            <intent-filter>
                <action android:name="android.nfc.cardemulation.action.HOST_APDU_SERVICE" />
            </intent-filter>

            <meta-data
                android:name="android.nfc.cardemulation.host_apdu_service"
                android:resource="@xml/apduservice" />
        </service>

            <receiver android:name=".NFCBroadcastReceiver" >
                <intent-filter >
                    <action android:name="com.csharp.solutions.validations.NFC_TRIGGER" />
                </intent-filter>
            </receiver>

    </application>

</manifest>
