<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.csharp.solutions.validations" >

    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".RegistrationStep1"
            android:label="@string/app_name"
            android:imeOptions="actionDone|flagNoExtractUi"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:theme="@style/Theme.AppCompat.Light"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegistrationStep2"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:label="@string/registration_step2_title_textview"
            android:theme="@style/Theme.AppCompat.Light"
            android:imeOptions="actionDone|flagNoExtractUi"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize">

        </activity>
        <activity
            android:name=".UpdateScreen"
            android:label="@string/user_info_title"
            android:imeOptions="actionDone|flagNoExtractUi"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:theme="@style/Theme.AppCompat.Light"
            android:configChanges="orientation|screenSize">

        </activity>

        <activity
            android:name=".ValidateScreen"
            android:label="@string/validation_title"
            android:theme="@style/Theme.AppCompat.Light"
            android:imeOptions="actionDone|flagNoExtractUi"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize"/>


    </application>

</manifest>
